In [51]:
import pandas as pd
import numpy as np
import seaborn as sns

In [52]:
iris = sns.load_dataset('iris')

In [53]:
iris = iris.drop(labels = 'species', axis = 1)

In [54]:
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']

In [55]:


mean = list(iris.mean())
std = list(iris.std())
min = list(iris.min())
max = list(iris.max())

summary_dict = {'mean':mean, 'std':std, 'min':min, 'max':max}


summary_df = pd.DataFrame(data = summary_dict, index = ['sepal_length','sepal_width','petal_length','petal_width','sepal_sum','petal_sum'])
summary_df

                  mean       std  min   max
sepal_length  5.843333  0.828066  4.3   7.9
sepal_width   3.057333  0.435866  2.0   4.4
petal_length  3.758000  1.765298  1.0   6.9
petal_width   1.199333  0.762238  0.1   2.5
sepal_sum     8.900667  0.889272  6.8  11.7
petal_sum     4.957333  2.507689  1.2   9.2